/* body {
  padding: 0px 30px 30px 20px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 100;
  color: white;
} */
.cartContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 100px;
}
.product-image {
  float: left;
  width: 20%;
}
.product-details {
  float: left;
  width: 20%;
}
.product-price {
  float: left;
  width: 12%;
}
.product-quantity {
  float: left;
  width: 12%;
}
.product-removal {
  float: left;
  width: 15%;
}
.product-line-price {
  float: left;
  width: 15%;
  text-align: right;
}

h1 {
  font-weight: 100;
}

label {
  color: white;
}

.shopping-cart {
  margin-top: 9px;
}
.product .product-price:before,
.product .product-line-price:before,
.totals-value:before {
  content: "€ ";
}
.column-labels {
  height: 70px;
  margin-bottom: 15px;
  border-bottom: 1px solid white;
}

.product {
  height: 130px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}
.product .product-image {
  text-align: left;
}

.product .product-image img {
  width: 100px;
}

.product-details .product-title {
  margin-right: 20px;
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.product-details .product-description {
  margin: 5px 20px 5px 0;
  line-height: 1.4em;
  color: white;
}

.product-quantity input {
  color: black;
  width: 40px;
}

.remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  font-family: white;
  font-size: 12px;
  border-radius: 3px;
}

.remove-product:hover {
  background-color: #a44;
}

.totals.totals-item {
  float: right;
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}
.totals label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals.totals-value {
  float: right;
  width: 21%;
  text-align: right;
}

.totals.totals-item-total {
  font-family: white;
}
.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #c38e77;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #c38e77;
}
