/* body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
} */
.contactContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

section {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin: auto;
  background-color: black;
}
.container {
  background-color: #404040;
  width: 50%;
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 100px;
}
.container h1 {
  width: 100%;
  color: white;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}
.container h2 {
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-family: "Times New Roman", Times, serif;
}

.container .row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.container .row .col {
  position: relative;

  padding: 0 40px;
  margin: 60px 0 10px;
  transition: 0.5s;
}
.container .row .input {
  position: relative;
  width: 100%;
  height: 40px;
  color: white;
  font-family: "Times New Roman", Times, serif;
}
.container .row .input input,
.container .row .input textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #f5f5f5;
}

.container .row .input .text {
  position: absolute;
  line-height: 40px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container .row .input input:focus + .text,
.container .row .input input:valid + .text {
  top: -35px;
  left: -10px;
}
.container .row .input .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #c38e77;
  transition: 0.3s;
  border-radius: 2px;
  pointer-events: none;
}

.container .row .input input:focus ~ .line,
.container .row .input input:valid ~ .line {
  height: 100%;
}

.container .row .input .textarea {
  position: relative;
  width: 100%;
  height: 210px;
  padding: 10px 0;
}

.container .row .input .textarea textarea {
  height: 100%;
  resize: none;
}

.container .row .input textarea:focus + .text,
.container .row .input textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.container .row .input textarea:focus ~ .line,
.container .row .input textarea:valid ~ .line {
  height: 100%;
}
.send-button {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #c38e77;
  color: white;
  font-size: 18px;
  border-radius: 5px;
}
/* sectionContactMe */

.text1 p {
  color: #c38e77;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  margin: auto;
}
