ul{
	list-style-type: none;
		text-align: right;
	padding: 0;
	margin: 0;
	display:inline-block;
	 width: 96%;

}

li {
	display: inline;
	padding-right: 40px;

}

nav{
	display: inline;
}
.logo{
	display: inline-block;
}

a {
	text-decoration:none;
	color: #ffffff;
}
.container{
	justify-content: space-between;
	display: flex;
	flex-direction: row-reverse;
}
.text{
	align-self: center;

}
.right img {
	border-radius: 14px;
}

.text p{
	line-height: 28px;
	font-size: 22px;
	text-align: left;
	width: 624px;
}
.text h1 {
	font-family: 'Indie Flower', cursive;
	font-size: 70px;
}
bold{
	color: #C38E77;
}