.copyright {
  box-sizing: border-box;
  color: white;
}
.copyright {
  text-align: center;
  font: 400 21px "Space Grotesk", sans-serif;
  position: relative;
}
.copyrightSpan {
  color: #c38e77;
  font: 400 21px "Space Grotesk", sans-serif;
}
.copyrightSpan2 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  padding-right: 5px;
  font: 400 21px;
}
.copyrightSpan3 {
  color: #c38e77;
  font: 400 21px "Space Grotesk", sans-serif;
}
