.foot{
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	height: 70vh;
}
.block1{
	flex-basis: 20%;
	line-height: 33px;
	padding-top: 14px;
}
.copy{
	text-align: center;
	font-size: 29px;
	font-family: Indie Flower;
	color: #C38E77;
}