.desktop-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-right: 0;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.desktop-navbar li a {
  font-family: 'Indie Flower', cursive;
  font-family: 'Playfair Display', serif;
  font-family: 'Public Sans', sans-serif;
  font-family: 'Roboto Mono', monospace;
  color: white;
}
.logo img {
  width: 120px; /* Adjust the width as needed */
  height: auto;
}
.logo {
  font-size: 1rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
  text-align: right;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 96%;
}

li {
  display: inline;
  padding-right: 40px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-family:'Times New Roman', Times, serif;
  font-size: 1.2rem;
}


.text-hover  {
padding-right: 0px;
}


@media only screen
and (device-width: 390px)
and (device-height: 844px)
and (-webkit-device-pixel-ratio: 3) {

  .desktop-navbar {
    display: none;
  }
}